.main-container-wrapper{
  background:#fff;
  min-width:1002px; 
}

.col2left{
	width:auto;
}

.profilepic{
	margin: 40px;
	float:left;
	width:223px;
	}

.mypic{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.clearfix {
  overflow: auto;
}

.col2left-left{
	background:#7dd9e8;
	margin: 30px auto 32px auto;
	width:318px;
	float:left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.col2left-main {
	float:left; 
	width:794px;
	margin: 30px 20px 32px 20px;
}