.menulist, .socialmedia {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.menulist{
	top: 0px;
	position: fixed;
	width: 100%;
}

li {
  float: left;
}

.menulist li a, .socialmedia li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p
{
  margin:0;
  padding-left: 10px;
  font-size: 20px;
}

.publications li{
	border: none;
	background-color: #fff;
}

.publications li a{
	text-align: left;
}

.projects li{
	float: none;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: blueviolet;
  color: white;
}